<MudNavMenu>  
    <AuthorizeView>
        <Authorized>
            <MudNavLink Href="" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Home">Home</MudNavLink>
            <MudNavLink Href="directapi" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Add">Direct API call</MudNavLink>
            <MudNavLink Href="graphapicall" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.List">Graph API call</MudNavLink>
        </Authorized>
        <NotAuthorized>
            <li class="nav-item px-3">
                <p>no access</p>
            </li>
        </NotAuthorized>
    </AuthorizeView>
</MudNavMenu>